recursive-install=false
auto-install-peers=true
resolve-peers-from-workspace-root=true
node-version=18.13.0
engine-strict=true
prefer-workspace-packages=true
shared-workspace-lockfile=true
save-prefix=''